ls {
    exec = "ls"
    stdout = "/tmp/ls_log"
    stderr = "/tmp/ls_log"
    delay = 7
    termgrace = off
}

workers {
    directory = "/home/praveen/workshop/learning/alarm-wai"
    exec      = "stack exec alarm-wai"
    count     = 30
    pidfile   = "/path/to/pidfile.pid"
    termgrace = 10
}
